* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-image: url("./pics/3be5a6f64de6b02329efddd323c3f16b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  width: 100vw;
  height: 100px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 20px;
  width: 100px;
  height: 60px;
  font-size: 2.5rem;
  
}

.search {
  margin-right: 30px;
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  width: 90%;
  height: 60%;
  border-radius: 50px;
  padding-left: 10px;
  font-size: 1.05rem;
  transition: transform 0.5s;
}

.search input:hover {
  transform: scale(1.1, 1.1);
}

.details {
  width: 80vw;
  height: 700px;
  margin: auto;
  margin-top: 50px;
}

.details img {
  width: 100%;
  height: 100%;
}

.register-form {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-bottom: 20px;
  margin-top: 100px;
 
}

.register-text p {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.register-input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.team-members {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 10px;
}

.register-submit {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-submit:hover {
  background-color: #0056b3;
}

.register-input,
.register-submit {
  transition: transform 0.5s;
}

.register-input:hover,
.register-submit:hover {
  transform: scale(1.1);
}

.details {
  border: 1px solid white;
  background-color: white;
  text-align: center;
}

.details-text {
  margin-top: 20px;
  font-size: 2rem;
}

.info {
  width: 80%;
  height: 80%;
  /* border: 2px solid black; */
  margin: auto;
  margin-top: 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: scroll;
  line-height: 2;
}

h2,
p {
  color: #333;
}

button {
  background-color: #ff6600;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ff9933;
}

ul {
  list-style-type: disc;
}

h1 {
  background-color: #333;
  color: #fff;
  padding: 20px;
}
